.title-bar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  align-items: center;
  background: #4b367c;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: center;
}

.under-title-bar {
  align-items: center;
  background: #5f459b;
  color: #fff;
  display: flex;
  margin: 0;
  padding: 0;
}

.under-title-bar li,
.under-title-bar li a {
  color: #fff;
  display: flex;

}

.under-title-bar li a {
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-decoration: none;
  text-align: center;
}

.under-title-bar li:hover {
  background-color: #6a4ead;
}

.under-title-bar li a:ative {
  background-color: #4b367c;
}

.title-bar .flex-r {
  margin-right: 10px;
}
