* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-r {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.fakemessages {
  width: 20%;
  justify-content: center;
  order: 1;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
p,
a {
  margin: 0;
}

.flex-right {
  margin-left: auto;
}

.plugins,
.components {
  display: flex;
  align-items: center;
  width: 100%;
}

.plugins {
  height: 40px;
  margin-bottom: 2px;
}

.plugin-info {
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin: 5px;
  width: 100px;
}

.plugin-info b {
  font-weight: bold;
}

.plugin-info-l {
    width: 100%;
}

.plugin-name {
  text-align: center;
  padding: 10px;
  bottom: 0;
}

.plugin-info-l button {
  border: 0;
  outline: 0;
  background-color: #5f459b;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 30px;
  align-items: flex-end;
}

.plugins-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.btn-main {
  background: #056DFF;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  outline: 0;
  padding: 10px;
  text-align: center;

}

.btn-danger {
  background: #E63737;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  outline: 0;
  padding: 10px;
  text-align: center;

}

.btn-main,
.sp-btn {
  align-items: center;
  display: flex;
}
